body {
    background-color: black;
}

.a_img {
    width: 100%;
    height: 700px;
    float: left;
    background-image: url('https://st4.depositphotos.com/36741820/38049/i/600/depositphotos_380497462-stock-photo-pink-headphone-and-cassette-on.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.a_write {
    width: 37%;
    min-height: 250px;
    float: left;
    /* background-color: red; */
    position: absolute;
    top: 300px;
    left: 150px;
}

.a_tobah {
    color: black;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.a_shpnmore {
    width: 30%;
    min-height: 50px;
    float: left;
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
    position: absolute;
    top: 170px;
    left: 60px;
}

.a_shpnmore a {
    color: black;
    position: absolute;
    top: 15px;
    left: 20px;
    text-decoration: none;
}

.a_htmlwrt span {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 40px;
    position: absolute;
    left: 40px;
}

/* ================== */

.a_center {
    width: 100%;
    min-height: 900px;
    float: left;
    background-color: brown;
}

.a_lorm {
    width: 100%;
    min-height: 350px;
    float: left;
    background-color: aqua;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.a_span1 span {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 90px;
    left: 190px;
}

.a_span2 span {
    color: black;
    font-size: 15px;
    position: absolute;
    top: 150px;
    left: 190px;
}

.a_yllow {
    width: 100%;
    min-height: 100px;
    float: left;
    background-color: rgb(183, 183, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.a_yllow span {
    color: black;
    font-size: 35px;
}

.a_card {
    width: 100%;
    min-height: 450px;
    background-color: blue;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.a_wr span {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 112px;
}

.a_card1 {
    width: 25%;
    height: 250px;
    background-color: peru;
}

.a_writephone {
    width: 90px;
    height: 35px;
    float: left;
    background-color: wheat;
    border-radius: 20px;
    margin: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a_img2 {
    width: 100%;
    height: 170px;
    float: left;
    background-color: brown;
    background-image: url('https://www.shutterstock.com/image-vector/vector-headphones-icon-flat-design-260nw-350822219.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a_altyaz {
    width: 100%;
    height: 80px;
    float: left;
    background-color: green;
    position: relative;
}

.a_a span{
    font-size: 20px;
    color: black;
    position: absolute;
    top: 10px;
    left: 8px;
}

.a_b span{
    font-size: 15px;
    color: black;
    position: absolute;
    top: 35px;
    left: 10px;
}